section,
.submit-button {
  display: flex;
  justify-content: center;
}
.submit-button {
  border: 2px solid #0099cc;
  margin: 18px 75px 18px 0;
  padding: 8px;
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase; /* Make letters uppercase */
}
