.image {
  display: flex;
  justify-content: center;
}

.italingo-img {
  position: absolute;
  width: 35%;
  height: auto;
  bottom: 0%;
}
@media only screen and (max-width: 600px) {
  .italingo-img {
    width: 40%;
  }
}
